altair==4.2.2
folium==0.16.0
hopsworks==3.7.0
hsfs==3.7.2
joblib==1.4.0
matplotlib == 3.8.4
numpy==1.26.4
pandas==1.5.1
plotly==5.21.0
Requests==2.31.0
scikit-learn
streamlit==1.33.0
streamlit_folium==0.20.0
tqdm==4.66.2
xgboost